.icon {
    padding-right: 10px;
    height: 20px;
    width: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* For WebKit-based browsers (e.g., Chrome, Safari) */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.item {
    display: flex;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    color: black;
    width: 100%;
    min-width: fit-content;
    border-radius: 20px;
    margin: 0.6em;
    background-color: rgb(178 178 178);
    cursor: pointer;
}

.item.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.item.visible.delay {
    opacity: 1;
    transition-delay: 1s;
}

.option {
    display: flex;
    height: fit-content;
    justify-content: center;
    color: black;
    background-color: rgb(178 178 178);
    cursor: pointer;
    width: 50%;
    min-width: fit-content;
}

.option-left {
    margin-right: 0px;
    border-radius: 20px 0px 0px 20px;
    transition: margin-right 0.3s ease, border-radius 0.3s ease;
}

.option-right {
    margin-left: 0px;
    border-radius: 0px 20px 20px 0px;
    transition: margin-left 0.3s ease, border-radius 0.3s ease;
}

.option-left.visible {
    margin-right: 5px;
    border-radius: 20px;
    transition: margin-right 0.3s ease, border-radius 0.3s ease;
}

.option-right.visible {
    margin-left: 5px;
    border-radius: 20px;
    transition: margin-left 0.3s ease, border-radius 0.3s ease;
}

.option.delay {
    transition-delay: 1s;
}

.item-options {
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    color: black;
    width: 100%;
    min-width: fit-content;
    margin: 10px;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}

.item-options.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.item-options.delay {
    opacity: 0;
    visibility: hidden;
    animation: fadeIn 1s;
    animation-delay: 1s;
    transition-delay: 1s;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: max(30vw, 100%);
    max-width: 300px;
    min-width: fit-content;
}


.item:hover {
    background-color: rgb(255, 255, 255);
    color: #cd7d18;
    margin: 0.7em 0.6em;
    padding: 0.5em 1.2em;
}

.option:hover {
    background-color: rgb(255, 255, 255);
    color: #cd7d18;
    padding: 0.4em 1.2em;
}

.option:active {
    background-color: rgba(82, 82, 82);
    color: rgba(0, 0, 0, 0.455);
}

@keyframes fadeIn {
    0% {
        visibility: visible;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
  }