.wrapper {
    position: relative;
    width: 100%;
    margin: 1em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts {
    font-size: 1em;
    color: #373636;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Georgia';
}