.switcher {
    cursor: pointer;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: small;
}

.switcher-box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 60px;
}

#lan {
    border-style: none;
    border-radius: 10px;
    color: #000000;
    font-family: 'Georgia', serif;
    width: fit-content;
    background-color: white;
}

#lan-fake {
    opacity: 0;
    width: inherit;
}

@media (max-width: 600px) {
    .switcher-box {
        flex-direction: column;
    }
}